/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
package-lock.json
composer.lock
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
!/resources/js/app.js
